body {
    background-color: #fff;
    color: #fff;
    font-family: 'Roboto';
}

.title {
    color: #000;
    text-align: center;
    letter-spacing: 6px;
    font-size: 60px;
    font-family: 'Oswald';
    margin-left: 1.5%;
}