body {
    background-color: #fff;
    color: #fff;
    font-family: 'Roboto';
}

.year {
    color: #000;
    text-align: center;
    letter-spacing: 6px;
    font-size: 60px;
    font-family: 'Oswald';
    margin-bottom: 2.5%;
}

.pre, .reg, .post {
    display: inline-block;
    width: 20%;
    height: 200px;
    background-color: #000;
    border: 3px solid #00ffbc;
    box-shadow: 12px 16px 24px #000;
    border-radius: 6px;
    margin-left: 9.5%;
    margin-bottom: 5%;
}

.type1, .type2, .type3 {
    font-family: 'Oswald';
    text-align: center;
    font-size: 40px;
    color: #00ffbc;
    margin-top: 17.5%;
}

.preWeeks {
    text-align: center;
    margin-right: 5%;
    margin-top: 14%;
    position: relative;
    bottom: 20%;
}

.hoverPreWeek {
    font-family: 'Oswald';
    font-size: 28px;
    width: 10%;
    margin-left: 4%;
    text-align: center;
    display: none;
}

.hoverPreWeek:hover {
    color: #00ffbc;
}

.regWeeks {
    text-align: center;
    margin-right: 5%;
    position: relative;
    bottom: -5%;
}

.hoverRegWeek {
    font-family: 'Oswald';
    font-size: 28px;
    width: 10%;
    margin-left: 4%;
    text-align: center;
    display: none;
}

.hoverRegWeek:hover {
    color: #00ffbc;
}

.postRounds {
    text-align: center;
    position: relative;
    bottom: -7.5%;
}

.hoverPostRound {
    font-family: 'Oswald';
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

.hoverPostRound:hover {
    color: #00ffbc;
}

h1 {
    font-family: 'Oswald';
    position: relative;
    bottom: 17.5%;
    text-align: center;
    letter-spacing: 2px;
}

.divider {
    width: 90%;
    border: 4px solid #000;
    border-radius: 6px;
    margin-bottom: 2.5%;
    margin-left: 5%;
}
